<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/MLPNosotros.css">
    <link rel="icon" href="/images/logo.png">
    <title>My Little Plant</title>
</head>
<body>
    <header>
        <a href="#" class="logo">
            <img src="/images/logo.png" alt="">
            <h2 href="">My Little <span> Plant </span> </h2>
        </a>
        <nav>
            <a href="#mlp">Que es MLP</a>
            <a href="#contra">Ofrecemos</a> 
            <a href="#productos">Productos</a>
            <a href="#administrador">Nosotros</a>
        </nav>
    </header>

    <section id="comenzemos">
        <div>
          <h1>Compra, Cuida y Aprende de Tus <span> Plantas </span></h1>
          <p>Hasta el más pequeño detalle, hace la diferecia</p>
          <a href="/libros/registroCliente">¿Listo? Comenzemos</a><br>
          </div>
    </section>

    <section id="mlp">
        <div class="conten">
          <div class="conten1">
              <div class="img-contenedor">
                  <div class="texto">
                      <h2>¿Que es My Little Plant?</h2>
                      <p>My Little Plan es una tienda que ofrece a sus clientes no solo impulsa a tener una Planta, si no que tambien aporta informacion sobre ellas y ofrecemos herramientas para el cuidado de hasta a una maceta, una huerta o hasta una granja y consejos sobre como cuidarlos.</p>
                  </div>
              </div>
          </div>
        </div>
    </section>

    <section id="ofrecemos">

        <div class="contra" id="contra">
            <h2 id="titulo-m">My Little <span> Plant </span></h2>
            <p id="ofre">Ofrecemos</p>

            <div class="programas">

             <div class="cartas">
                <img src="/images/planta.jpg" alt="">
                
                 <h3>Plantas</h3>
                 <p>My Little Plant contamos con una gran cantidad de plantas para decorar el lugar que quieras, desde un pequeño cactus para una oficina, hasta plantas excoticas para un invernadero. Cabe recalcar que contamos con plantas acuaticas y nocturnas.</p>
                 
                
             </div>
             <div class="cartas">
                <img src="/images/herramienta.jpg" alt="">
                
                 <h3>Herramientas</h3>
                 <p>En My Little Plant tenemos una gran variedad de Herramientas para el cuidado de las plantas, ya sea desde una paqueña pala para las macetas como hasta Aspersores para el riego.</p>
                 
                
             </div>
             <div class="cartas">
                <img src="/images/info.jpg" alt="">
               
                 <h3>Información</h3>
                 <p >No solo vendemos plantas y herramientas, sino que tambien apoyamos a los nuevos aficionados que quieran iniciar con un pequeño jardin o hasta un maceta, con informacion sobre la planta que quiera cuidar/adquirir.</p>
                 
                
            </div>
        </div>
        </div>
    </section>

    <section id="prod" class="prod">
        <div id="productos" class="productos">

          <section class="course-container">
              <figure class="course_container">
                  <img src="/images MLP/pla3.jpg" alt="">
              </figure>

              <div class="course_about">
                  <h2 class="tittle">¿Quieres Saber mas Sobre las <span>Plantas</span>?</h2>
                  <img src="/images/iP.png" alt="">
                  <p>Mira nuestro catalago, no solo muestra las plantas que ofrecemos, si no que tambien da informacion sobre ellas.</p>
                  <a href="#" class="cta">¡Me Encantaria!</a>
              </div>
          </section>

          <section class="course_container">
              <figure class="course_container course_container--right">
                  <img src="/img MLP/herra3.jpg" alt="">
              </figure>

              <div class="course_about">
                  <h2 class="tittle">¿Quieres ver las <span>Herramientas</span> que Ofrecemos?</h2>
                  <img src="/images/iH.png" alt="">
                  <p>Observe nuestro catalogo de herramientas para jardineria.</p>
                  <a href="#" class="cta">¡Me Encantaria!</a>
              </div>
          </section>
       </div>
    </section>

    <section class="instructor container">
        <div class="instructor_container">
            <div class="administrador" id="administrador">
                <section class="course-container">
                    <figure class="course_container">
                    </figure>
               <h2 class="instructor_name">Cesar Josue Martinez Castillejos</h2>
               <img src="/images/cesar1.jpg" alt="">
               <br><br>
               <input type="submit" class="boton1" value="Ing. En Requerimientos" onclick="Mostrar_Info();"></input>
               <div class="infoc" id="infoc" style="display: none;">
                <p id="mensaje1">
                    Telefono <br>
                    915-114-6019 <br>
                    Correo <br>
                    211234@ids.upchiapas.edu.mx
                </p>
               </div>
            </div>
            <section class="course-container">
                <figure class="course_container">
                </figure>
            <div class="administrador">
               <h2 class="instructor_name">David Antonio Gómez Gonzalez</h2>
               <img src="/images/david.png" alt="">
               <br><br>
               <input type="submit" class="boton2" value="Analista" onclick="Ver_Datos();"></input>
               <div class="infod" id="infod" style="display: none;">
                <p id="mensaje2">
                    Telefono <br>
                    961-266-7629 <br>
                    Correo <br>
                    221197@ids.upchiapas.edu.mx
                </p>
               </div>
            </div>
            <section class="course-container">
                <figure class="course_container">
                </figure>
               <div class="administrador">
               <h2 class="instructor_name">Bandon Sánchez Martinez</h2>
               <img src="/images/brandon.png" alt="">
               <br><br>
               <input type="submit" class="boton3" value="Desarrollador Wed " onclick="Mostrar_Ocultar();"></input>
               <div class="infoib" id="infoib" style="display:none">
                <p id="mensaje3"> 
                    Telefono <br>
                    968-151-2146 <br>
                    Correo <br>
                    221223@ids.upchiapas.edu.mx</p>
               </div>
            </div>
            <section class="course_container">
                <figure class="course_container course_container--right">
                </figure>

             <div class="administrador" id="texto-">
               <p class="instructor_paragraph">Les ofrecemos a nuestros compradores la mejor atención que sea posible, para que se sienta conforme con las compras que realicen a través de nuestra página.
               Les presentamos un cátalo más actualizado de plantas que tenemos a nuestra disposición para ser vendidas.
               Les ofrecemos las herramientas con las cuales podrán darle los cuidados necesarios a sus plantas.
               En nuestro catalogo podrán encontrar desde plantas terrestres, como acuáticas hasta las plantas más exóticas que no hayas visto.</p>
             </div>
             <br><br><br><br><br><br><br><br>
             <a id="Admin" href="/libros/registroCliente">¿Quieres formar parte de nosotros? <a id="Admin2" href="/libros/registroCliente" >Registrate</a> </a><br>
        </div>
    </section>


    <footer class="footer">
        <div class="footer_container">
            <div class="footer_contact">
                <div class="footer_texts">
                    <h2 class="tittle">¿Tienes alguna Duda?</h2>
                    <p class="footer_copy">Nuestros Asesores ayudaran con lo que necesite, ya sea Informacion o dudas. Puede contactar con cualquiera ellos dando click en su foto.</p>
                </div>
            <p class="footer_copyright">
                Sitio creado por &copy; Cesar Martinez, David Gómez y Brandon Sánchez
            </p>
        </div>
    </footer>
    <script src="../public/javascripts/MLPNosotros.js"></script>
</body>
</html>