body{
   margin: 0;
   padding: 0;
   
}   
.img-f{
  width: 40%;
  height: 100%;
  background-image: url(./img/fondop.jpg);
  box-shadow: 5px 1px 30px ;
  position:static;
}

.contenedorP{
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    background-color:azure;
}


.contenedorH{
    background-color: #212738;
    height: 550px;
    width: 370px;
    border-radius: 50px;
    margin: 100px;
    position: absolute;
    top: 3%;
    transform: translateX(-30%);
    right: 0;
    box-shadow: slategray 8px 8px ;
}

#tituloMLP{
    transform: translateY(-150px);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #212738;
}


#tituloU{
    letter-spacing: 1px;
    color: white;
    margin-top: 20px;
    font-size: 25px;
    font-family: Helvetica, Arial, sans-serif;
}
#tituloC{
    color: white;
    margin-top: 40px;
    font-size: 25px;
    font-family: Helvetica, Arial, sans-serif;
}

#usuario{
    height: 30px;
    width: 200px;
    border-color: #1FBAC0;
    border-radius: 7px;
    background-color: #212738;
    color: aliceblue;
}

#contraseña{
    height: 30px;
    width: 200px;
    border-color: #1FBAC0;
    border-radius: 7px;
    background-color: #212738;
    color: aliceblue;
}

#p{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-indent: 130px;
   
}

#submit1{
    background-color: #1FBAC0;
    color: aliceblue;
    border: 1;
    border-color: #168e92;
    width: 90px;
    height: 30px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

#submit2{
    margin-left: 40px;
    border-radius: 5px;
    border-color:#1FBAC0 ;
    width: 100px;
    height: 30px;
    background-color: #212738;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    color: white;

}

#submit1:hover{
    background-color: #168e92;
}

#submit2:hover{
    background-color: #1FBAC0;
    color: aliceblue;
}

#submit3{
    border-radius: 5px;
    border-color:#1FBAC0 ;
    width: 100px;
    height: 30px;
    background-color: #212738;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

#submit3:hover{
    background-color: #1FBAC0;
    color: aliceblue;
}



