<%- include ('../layouts/cabecera.ejs') %>

<form method="post" action="/libros" enctype="multipart/form-data">
    <div class="form-group">
        <label for="my-input">Nombre</label>
        <input id="my-input" class="form-control" type="text" name="nombre" required>
        <label for="my-input">id_Vendedor:</label>
        <input id="my-input" class="form-control" type="text" name="id_vendedor" required>
    </div>
    <div class="form-group">
        <label for="my-input">Categoria</label>
        <select class="form-control" name="categoria" required>
            <option>Acuáticas</option>
            <option>Terrestres</option>
            <option>Nocturnas</option>
          </select>
    </div>
    <div class="form-group">
        <input id="my-input" class="form-control" value="planta" type="text" name="tipo" required>
        <label for="my-input">Stock</label>
        <input id="my-input" value="0" class="form-control" type="number" name="stock" required>
    </div>
    <div class="form-group">
        <label for="my-input">Precio</label>
        <input id="my-input" value="0" min="0" class="form-control" type="number" name="precio" required>
    </div>
    <div class="form-group">
        <label for="my-input">Imagen</label>
        <input id="my-input" class="form-control-file" type="file" name="archivo">
    </div>
<button class="btn btn-primary" type="submit">Guardar</button>
<a href="./" class="btn btn-danger" type="button">Cancelar</a>
</form>
<%- include ('../layouts/pie.ejs') %>