<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/MLPRegistro.css">
    <link rel="icon" href="/images/logo.png">
    <title>Registro</title>
</head>
<body>
    <div class="contenedorP">
        <div class="img-f"></div>
        
        
           <div class="contenedorH"> 
               <br><br><br> <br>
               <h1 id="tituloMLP">My Little Plant</h1>
               <h1 id="tituloR">Register New Admin Account</h1><br><br>
               <input type="text" id="usuario" autocomplete="off" placeholder="User" required><br><br>
               <input type="email" name="email" id="email" autocomplete="off" placeholder="Email" required><br><br>
               <input type="password" id="contraseña" autocomplete="off" placeholder="Password" required><br><br> 
               <br><br><br>
               <p id="p">¿Ya tienes una cuenta?</p>
               <input type="submit" id="submit1" value="Crear Cuenta" onclick="comprobar()">
               <input type="submit" id="submit2" value="Iniciar Sesion" onclick="location.href='/libros/inicioAdmin'"> <br><br>
               <input type="submit" id="submit3" value="Inicio" onclick="location.href='../'">
               </div>

               <div class="img-f2"></div>
            </div>
    </div>
    
</body>
</html>